
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="author" content="Daniel Tinivella Guzman" />
  <meta name="description" content="The personal blog of Daniel Tinivella Guzman also know @Tinix" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="cleartype" content="on">
  
  <title>Who Is To Blame For This? - Daniel Tinivella Guzman @Tinix</title>
  <link rel="author" href="mailto:daniel.t.guzman@gmail.com" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://metaskills.net/assets/site/icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://metaskills.net/assets/site/icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://metaskills.net/assets/site/icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://metaskills.net/assets/site/icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://metaskills.net/assets/site/icon-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://metaskills.net/assets/site/icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/site/icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://metaskills.net/assets/site/icon-152x152.png">
  <link rel="icon" type="image/png" sizes="196x196" href="http://metaskills.net/assets/site/icon-196x196.png">
  <link rel="icon" type="image/png" sizes="160x160" href="http://metaskills.net/assets/site/icon-160x160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="http://metaskills.net/assets/site/icon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="http://metaskills.net/assets/site/icon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="http://metaskills.net/assets/site/icon-32x32.png">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://metaskills.net/feed.xml" />
  <meta name="apple-mobile-web-app-title" content="MetaSkills">
  <meta name="application-name" content="MetaSkills" />
  <meta name="msapplication-TileImage" content="http://metaskills.net/assets/site/icon-144x144.png">
  <meta name="msapplication-TileColor" content="052838">
  <link rel="stylesheet" href="http://metaskills.net/assets/site.css">
</head>

  <body>
    <section class="ms-Page is-Page">
  <header class="ms-Page-header">
    <section class="ms-Page-header-bg">
      <object class="ms-Page-header-bg-svg" data="http://metaskills.net/assets/site/page-svg.svg" type="image/svg+xml"></object>
    </section>
    <section class="ms-Page-header-content">
      <div class="ms-Page-header-avatar">
<a class="ms-Avatar" href="http://metaskills.net/pages/colophon.html" title"About Ken Collins">
  <div class="ms-Avatar-flipable">
    <div class="ms-Avatar-front">
      <img class="ms-Avatar-img" alt="Ken Collins" src="http://metaskills.net/assets/site/avatar.jpg">
    </div>
    <!-- fill="#FFFBE1" -->
  </div>
</a>
</div>
      <ul class="ms-Page-nav">
        <li class="ms-Page-nav-item">
          <a class="ms-Page-nav-link" href="/">HOME</a>
        </li>
        
          
          
          <li class="ms-Page-nav-item">
            <a class="ms-Page-nav-link" href="http://metaskills.net/categories/programming.html">Programming</a>
          </li>
        
          
          
          <li class="ms-Page-nav-item">
            <a class="ms-Page-nav-link" href="http://metaskills.net/categories/lifestyle.html">Lifestyle</a>
          </li>
        
      </ul>
      <div class="ms-Page-social"><div class="ms-Social">
  <a href="http://twitter.com/metaskills" title="MetaSkills On Twitter">
    <span class="ms-Social-icon ms-Social-icon--twitter"><i class="icon-twitter"></i></span>
  </a>
  <a href="https://github.com/metaskills/" title="MetaSkills On GitHub">
    <span class="ms-Social-icon ms-Social-icon--github"><i class="icon-github"></i></span>
  </a>
  <a href="http://www.linkedin.com/in/metaskills" title="Ken Collins On LinkedIn">
    <span class="ms-Social-icon ms-Social-icon--linkedin"><i class="icon-linkedin"></i></span>
  </a>
</div>
</div>
      <div class="ms-Page-blurb">
        Ruby, JavaScript, Sass, iOS. Stinky Cheese &amp; Beer Advocate. Working at CustomInk and loving it!
      </div>
    </section>
  </header>
  <article class="ms-Page-article">
    <h1 id="ken-collins">Ken Collins</h1>

<p><img src="http://metaskills.net/assets/ken-collins-customink.png" alt="Ken Collins" class="ms-Img ms-Img--responsive ms-Img--fancy" />
My name is Ken Collins and the concept for my blog reflects a big theme in my work ethic, working smarter not harder. The best way to accomplish that is to build tools on solid foundations. Poor programmers complain about their tools, good ones build them. Since I am a problem solver and builder by nature, the term MetaSkills which is a play on <a href="http://en.wikipedia.org/wiki/Meta_programming">meta programming</a> seemed to best describe me. MetaSkills are beyond reason, highly coupled to imagination, and never ever found on a <a href="/pages/resume.html">resume</a> or taught in school.</p>

<h2 id="my-history">My History</h2>

<p>Long before I became a full time software developer, my career had started in the world of design and marketing. It happened in 9th grade when I submitted a report in history class that got an A+ simply for the fact that it was presented well. I did have an advantage beyond my personal World Book Encyclopedias. I was likely the first kid in 1986 to wield a $5,000 laser printer at home. I also worked at a local print shop and my Mac Plus consistently outperformed the <a href="http://www.old-computers.com/museum/computer.asp?st=1&amp;amp;c=1052">Xerox 6085 Workstations</a> that I worked on. That&#39;s right, at the age of 14 I was being paid as a Desktop Publishing computer operator. Back then, a 10 megabyte hard drive was elite and the fastest way to rotate text was to stand on your head. My have the times changed! To learn more about my job history, <a href="/pages/resume.html">go check out my resume</a>. Sorry, you will not find the print shop nor my paper route on there :)</p>

<h2 id="how-has-this-happened?">How Has This Happened?</h2>

<p>I have been blogging for 9 years and throughout those years, the technology stack has changed a lot. My blog started in 2005 when I decided to turn my home office into a <a href="/2006/02/05/mini-network-with-a-big-xserve-style/">Mac Mini Colo</a> facility. Back then my blog was running under Drupal. As I started to do more Ruby work, it eventually <a href="/2008/03/22/metaskills-net-reborn-on-mephisto/">moved to Mephisto</a>. Here lately, I <a href="/2010/12/27/let-it-go-moving-from-mephisto-to-jekyll/">moved to Jekyll</a>, a ruby-based static site generator. Blogging is fun and can help you remember the things you love to do while sharing with others. I highly recommend it. Besides, watching page view counts on Google Analytics is fun!</p>

    
    <footer class="ms-Footer">
  <p>
    &copy; 2006-2014 Ken Collins. All rights reserved.<br/>
    MetaSkills.net is powered by <a href="http://jekyllrb.com">Jekyll</a> and <a href="http://disqus.com">Disqus</a>.
  </p>
</footer>

  </article>
</section>

    <script src="http://metaskills.net/assets/site.js"></script>
  </body>
</html>
